window {
	margin: 3px;
	border: 2px solid #00AA00;
	background-color: #1d1f21;
}
#input {
	margin: 3px;
	border: 2px solid #00AA00;
	color: #00AA00;
}
#inner-box {
	margin: 3px;
	background-color: #1d1f21;
	color: #00AA00;
}
#outer-box {
	margin: 3px;
}
#scroll {
	margin: 3px;
}
#text {
	margin: 3px;
}
#entry:selected {
	background-color: #00AA00;
}
#text:selected {
	color: #000000;
}
